{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "no-plusplus": [0, {
      "allowForLoopAfterthoughts": true
    }] 
  }, 
  "globals": {
    "fetch": false,
    "WebSocket": false
  }
}